.idea
*.pyc
__pycache__/
MonaServer/MonaServer.log/
roms/Super Mario Bros.nes
roms/Sky Kid (USA).nes
roms/Rockman (Japan) (En).nes
roms/Rockman 2 - Dr. Wily no Nazo (Japan).nes
roms/Donkey Kong (World) (Rev A).nes
venv/